<ion-header>
  <ion-toolbar>
    <ion-title>
      Doctors App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Appointments
    </ion-list-header>

    <ion-item *ngFor="let appointment of appointments" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{appointment.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{appointment.mobile}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear >
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear >
          <ion-icon name="trash" style="zoom:2.0" (click)="delete(appointment.id)"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>